body {
    display: block;
    margin: 0px;
  }
  /* todo: fix formatting for all pages */
  /* todo: fix formatting for buttons */
  /* todo: fix formatting for header */



   /* todo: fix formatting for questions and answers */
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  p {
    font-size: 20px;
  }
  

  